database:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: thoughtworks

  # the password
  password: Passw0rd

  # the JDBC URL
  url: jdbc:postgresql://${host}/senescyt

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate.show_sql: false
    hibernate.default_schema: servicio_oferta_academica_integracion

  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 1s

  # the SQL query to run when validating a connection's liveness
  validationQuery: "/* DB Health Check */ SELECT 1"

  # the minimum number of connections to keep open
  minSize: 1

  initialSize: 1

  # the maximum number of connections to keep open
  maxSize: 2

  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false

logging:
  level: WARN

server:
  adminConnectors:
    - type: http
      port: 8083
  applicationConnectors:
    - type: http
      port: 8082

